@charset "utf-8";

body {
  background-color: rgb(94, 255, 0);
  display: flex;
  flex-flow: column;
  text-align: center;
}

nav {
  background-color: blueviolet;
  margin: 40px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}

nav ul li {
  margin: 0 auto;
}

nav ul li a {
  padding: 50px;
  background-color: aqua;
  
}

img {
  margin: 0 auto;
}
video {
  margin: 0 auto;
}
#eddie {
  display: flex;
  flex-flow: row;
}

h1 {
  color: rgb(253, 15, 162);
}

.hej {
  background-color: red;

}