@charset "utf-8";

body {
  background-color: rgb(94, 255, 0);
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.content {  
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 70%;
}

.mainContent {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 70%;
}

main {
   display: flex;
   justify-content: center;
}


header {
  display: flex;
  justify-content: center;
  background-color: yellow;
}

.title {
  display: flex;
  flex-flow: row;
}

nav {
  background-color: blueviolet;
  width: 10%;
  padding: 0;
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  height: 40px;
  margin: 2px 0;
}

nav ul li a {
  background-color: tomato;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px; /* FULFIX */
}

.productContainer {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 100%;
}

.product {
  
}

.productContainer a {
  color: black;
  border: 2px solid black;
  background-color: rebeccapurple;
  text-decoration: none;
  transition: 0.2s;
  
}

.productContainer a:hover {
  background-color: brown;
  transform: scale(0.99);
}

.product img {
  max-height: 400px;
  max-width: 80%;
}

img {
  margin: 0 auto;
}
video {
  margin: 0 auto;
}
#eddie {
  display: flex;
  flex-flow: row;
}

.table {
  background-color: red;

}

.UsersForm{
  display: flex;
  flex-flow: column;
}