@charset "utf-8";

body {
  background-color: rgb(94, 255, 0);
  display: flex;
  flex-flow: column;
  text-align: center;
}

nav {
  background-color: blueviolet;
  margin: 40px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 auto;
}

nav ul li a {
  padding: 50px;
  background-color: aqua;
  
}

.productContainer {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;

}

.product {
  
}

.productContainer a {
  color: black;
  border: 2px solid black;
  background-color: rebeccapurple;
  text-decoration: none;
  transition: 0.2s;
  
}

.productContainer a:hover {
  background-color: brown;
}

.product img {
  max-height: 400px;
  max-width: 80%;
}

img {
  margin: 0 auto;
}
video {
  margin: 0 auto;
}
#eddie {
  display: flex;
  flex-flow: row;
}

.table {
  background-color: red;

}

.UsersForm{
  display: flex;
  flex-flow: column;
}