
<header>
    <section class="headContent">
        <a href="/">
            <section class="title">
                <img class="mainImage" src="/images/Logo.PNG" alt="">
            </section>
        </a>
        
        <a href="/">
            <section class="title">
                <h1>Helixpen</h1>
            </section>
        </a>

        <nav>
            <ul>
                <li>
                    <% if (session.userid) { %>
                        <a href="/logout">Logout</a>
                    
                    <% } else { %>
                        <a href="/login">Login</a>

                    <% } %>  
                </li>

                <li>
                    
                    <% if (session.userid) { %>
                        <a href="/settings">My profile</a>
                    
                    <% } else { %>
                        <a href="/registration">Sign Up</a>

                    <% } %>  
                </li>
                <li>
                    <% if (session.userid) { %>
                        <a href="/cart">Cart</a>
                    
                    <% } else { %>
                        <a href="/login?login=false">Cart</a>

                    <% } %> 
                </li>
            </ul>
        </nav>
    </section>
</header>
