<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Shop</title>

</head>
<body>

    <h1>Shop</h1>

    <nav>
        <ul>
            <li>
                <a href="/manageUsers">Manage Users</a>
            </li>
            <li>
                <a href="https://cdn.discordapp.com/attachments/230245539520708608/907063741420539934/unknown.png">Hottest</a>
            </li>
            <li>
                <a href="https://media.discordapp.net/attachments/355419073829535754/907784390803877908/unknown.png?width=426&height=621">Hot</a>
            </li>
        </ul>
    </nav>
    <p> En Ett hem </p>

    <form action="/sel" method="GET"> 
        <input type="text" name="sel" required /> 
        <input type="submit" value="Submit" /> 
    </form>


</body>
</html>