<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Em Analuel</title>

</head>
<body>

    <h1>Home</h1>

    <nav>
        <ul>
            <li>
                <a href="/test">Test</a>
            </li>
            <li>
                <a href="https://media.discordapp.net/attachments/355419073829535754/907784390803877908/unknown.png?width=426&height=621">Hot</a>
            </li>
        </ul>
    </nav>
    <p> En Ett hem </p>
    
    <form action="/myform" method="GET"> 
        <input type="text" name="mytext" required /> 
        <input type="submit" value="Submit" /> 
    </form> 

    <form action="/sel" method="GET"> 
        <input type="text" name="sel" required /> 
        <input type="submit" value="Submit" /> 
    </form>


</body>
</html>