<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Login</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="loginContent container">

            <h1>Login</h1>

            <!-- Shows login error -->
            
            
            <form class="loginForm" action="/login/loginForm" method="POST">
                <input class="input" type="email" name="mail" placeholder="Mail" required /> 
                <input class="input" type="password" name="password" placeholder="Password" required autocomplete="on" /> 
                <input class="input" type="submit" value="Login" /> 
            </form> 

            <p>Not signed up yet? Click <a href="/registration"> here</a> to sign up!</p>
            <p id="loginError"></p>

        </section>
        
    </main>



    <script>
        if (window.location.href == "http://130.240.200.33:3000/login?login=notExist") {
            document.getElementById("loginError").innerHTML = "Account with this email and password does not exist";
        }
        else if (window.location.href == "http://130.240.200.33:3000/login?login=false") {
            document.getElementById("loginError").innerHTML = "Please login or sign up before proceeding";
        }
        else {
            document.getElementById("loginError").style.display="none";
        }   
    </script>

        
    <%- include('footer.ejs'); %>    
    
</body>
</html>