<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Login</title>

</head>
<body>
    <h1>Login</h1>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://www.ltu.se/">LTU</a>
            </li>
            <li>
                <a href="https://www.bing.com/">🤢</a>
            </li>
        </ul>
    </nav>
    

</body>