<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Login</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="mainContent">

            <h1>Login</h1>

            <p id="loginInfo"></p>

            <!-- Shows login error -->
            <script>
            if (window.location.href == "http://130.240.200.33:3000/login?login=false") {
                document.getElementById("loginInfo").innerHTML = "Account with this email and password does not exist";
            }    
            </script>
            
            <form class="loginForm" action="/login/loginForm" method="POST">
                <input type="email" name="mail" placeholder="Mail" required /> 
                <input type="password" name="password" placeholder="Password" required autocomplete="on" /> 
                <input type="submit" value="Submit" /> 
            </form> 
            <p>Not signed up yet? Click <a href="/registration"> here</a> to sign up!</p>


        </section>
    
    </main>

</body>
</html>