<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
    <title>Registration</title>
</head>
<body>

    <%- include('header.ejs'); %>

    <main>

        <section class="regContent container">

            <h1>Sign up</h1>
            
            <form class="regForm" action="registration/usersForm" method="POST">
                <input class="input" type="text" name="fName" placeholder="Name" required />
                <input class="input" type="text" name="lName" placeholder="Last name" required /> 
                <input class="input" type="password" name="password" placeholder="Password" required autocomplete="off" /> 
                <input class="input" type="email" name="mail" placeholder="Mail" required /> 
                <input class="input" type="text" name="address" placeholder="Address" required /> 
                <input class="input" type="submit" value="Register" /> 
            </form> 

            <p>Already signed up? Click <a href="/login"> here</a> to login!</p>

        </section>
    
    </main>

    <%- include('footer.ejs'); %>
    
</body>
</html>